<table class="price-table price-table-dissertation" ng-controller="DissCtrl">
		<thead>
			<tr>
				<th ng-repeat="head in heads track by $index" ng-style="{'width':114+'px'}">
					<p class="txt" ng-bind-html="head"></p>
				</th>
				
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="deadline in deadlines track by $index" data-headline="{{deadline.deadline}}">
				<th>
					<p class="txt">	{{deadline.text}} </p>
					<p class="subline"> Computed Date</p>
				</th>
				<td></td>
				<td></td>
			</tr>
		</tbody>
</table>
