	<div class="container">
		<h6>What can we do for you?</h6>
		<ul class="selector-block">
			<li class = "selector-button" ng-click="showEssay()" ng-class="essayBool? 'active':''"><span><i class="fa" ng-class="essayBool? 'fa-check-circle-o':'fa-circle-o'" aria-hidden="true"></i>Essay</span></li>
			<li class = "selector-button" ng-click="showPres()" ng-class="presBool? 'active':''"><span><i class="fa" ng-class="presBool? 'fa-check-circle-o':'fa-circle-o'"aria-hidden="true"></i>Presentation</span></li>
			<li class = "selector-button" ng-click="showDiss()" ng-class="dissBool? 'active':''"><span><i class="fa" ng-class="dissBool? 'fa-check-circle-o':'fa-circle-o'"aria-hidden="true"></i>Dissertation</span></li>
		</ul>
	</div>