<table class="price-table price-table-presentation" ng-controller="PresCtrl">
		<thead>
			<tr>
				<th ng-repeat="head in heads track by $index" ng-style="{'width':114+'px'}">
					<p class="txt" data-level="{{$index}}" ng-bind-html="head"></p>
				</th>
				
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="deadline in deadlines" data-headline="{{deadline.deadline}}">
				<th>
					<p class="txt">	{{deadline.text}} </p>
					<p class="subline"> Computed Date</p>
				</th>
				<td my-cell level="1"> {{deadline.deadline}}  {{level}} </td>
				<td my-cell level="2"> {{deadline.deadline}}  {{level}} </td>
				<td my-cell level="3"> {{deadline.deadline}}  {{level}} </td>
				<td my-cell level="4"> {{deadline.deadline}}  {{level}} </td>
			</tr>
		</tbody>
</table>


