<div>
	<form class="my-input" action="">
	<h2 class="counter" 
        value="formData.oldCost"
           to="formData.totalCost"
     duration="250"
       finish="counterFinish()"> {{ formData.oldCost | currency }} </h2>

	<div class="currency-selector">
		<select  name="currency" ng-model="formData.currencyType">
			  <option value="CAD" selected="selected">CAD</option>
			  <option value="USD">USD</option>
		</select>
	</div>
	<p> <b>Deadline</b> {{$parent.selectedDeadline}} </p>
	<p> <b>Level </b> {{$parent.difficultyLevel}} </p>
	<p ng-init="formData.pricePerPage = 20.00"> {{ formData.pricePerPage | currency }} /per page </p>


		<div class="words-pages-wrap">
			<input type="number" ng-model="formData.pages"  ng-show="pageBool">
			<input type="number" ng-model="formData.words"  ng-hide="pageBool">
			<div class="page-selector" ng-click="pageActivate()"> pages </div>
			<div class="word-selector" ng-click="wordActivate()"> words </div>
		</div>
		<input ng-model="value" type="text" id="mySlider1" slider options="sliderOptions"/>
	</form>
	
	<div class = "order-now" ng-click="orderNow()"><a>Order Now</a></div>

</div>

<div class="free-with-order">
		<b>Free with your order: </b>
		<ul>
			<li class="free-item" ng-repeat ="item in freeWithOrder"> <i class="glyphicon glyphicon-ok-sign"></i> {{item}} </li>
		</ul>
</div>